body{
    background-color:rgb(94, 155, 113);
    color:rgb(237, 229, 229);
}
#myphoto{
    margin-left: 50px;
    margin-top: 50px;
    width: 150;
    height: 200px;
    border-radius: 50;
}
#nav{
    margin-left: 1150px;
    margin-top: 20px;
}
button{
    width: 70px;
    height: 30px;
    background-color: rgb(57, 101, 71);
    border: none;
    border-radius: 10px;
    color: rgba(57, 116, 68, 0.987);
}
#indexContent{
    margin-top: -145px;
    margin-left: 250px;
    font-size: 20px;
    width: 900px;
}
#name{
    margin-left: 36px;

}
#skillContent{
    font-size: 25px;
    background-color: rgb(94, 154, 106);

}
